body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.ai_page_body_cross{
    font-size: 30px;
    background-color: transparent;
    color: #8B0000;
    text-decoration: none;
}

.ai_page_body_cross:hover{
    font-size: 35px;
}

.ai_h1{
    text-align: center;
    font-size: 60px;
}